*{
    margin: 0;
    padding: 0;
}

// font
@font-face {
    font-family: "baloo";
    src: url(BalooBhaijaan-Regular.ttf);
}

@font-face {
    font-family:Baloo2-VariableFont;
    src: url(/Baloo2-VariableFont_wght.ttf);
}

body{ 
    font-family: "baloo", BalooBhaijaan;
    
}

.topnav {
  
    background-color: white;
    position: relative;
    
   
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    width: 100% ;
    height: 100vh ;
    
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(0, 62, 84);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
 
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: -7px;
  
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px;
}

p{
    font-family:Baloo2-VariableFont;
} 
h2{ font-family: "baloo", BalooBhaijaan;
    font-size: 75px;
     
}

.banner{
    font-family: "baloo", BalooBhaijaan;
   
    margin-right: 30px;
    margin-bottom: 50px;
    color: rgb(0, 62, 84);

.navigation{
    display: flex;
     justify-content:space-between;
    align-items: center;
   
 .logo{ margin-right: 50px;

 }   

}

.jep{ 
    opacity: 15%;
    padding-right: 80px;
    margin-top: 10px;
    height: 7vh;    
}
.rec{
    opacity: 15%;
    margin-top: 10px;
    height: 8vh       
}
.rec2{ opacity: 15%;
    
}

.main{
    font-weight: bolder;
     font-size:95px;
     color: rgb(0, 62, 84);
     font-family: "baloo", BalooBhaijaan; 
}

.links{
    text-decoration: none;
    color: rgb(0, 62, 84);
    padding: 20px;
    font-weight: bolder;
    font-family: "baloo", BalooBhaijaan;
      
}
.link{
    color: #CD7E50;
    text-decoration: none;
    font-weight: bolder;
}
.words{ font-size: x-large;
   justify-self: flex-end;
   font-family: "baloo", BalooBhaijaan;
    
}

.line{
     display: flex;
}
.line2{
    color: #CD7E50;
    width: 60px;
    height: 2px;
    margin-top: 15px;
    border: 2px;
    border-color: #CD7E50;
    background-color: #CD7E50;
    border-radius: 20px;
}

.para1{
    margin: 6px;
    margin-top: 2px;
}
.hdtext{
    margin-top: 10px;
     font-weight: bolder;
     margin-left: 40px;
      font-family: "baloo", BalooBhaijaan;

     .fifi{ color: #CD7E50;
       

     }
     
}

.container{
    margin-top: 10px;
    margin-left: 100px;
    
    
}
span{
    color: rgba(247, 119, 0, 0.87);
}
.laptop{ 
    margin-top: 120px;
    margin-bottom: 10px;
     
}
.pics{  
    margin-left: 40px;
    display: flex;
    column-gap: 20px;
  

.bulb{   opacity: 0.2;
    filter: alpha(opacity=20); 
  }

}
.munhu{ margin-top: 70px;

}
.mg{ margin-top: 10px;
      margin-bottom: 20px;
}
.picc{ padding-top: 10px;
    margin-top: 6px;

}

}
 
.about{
    font-family: "baloo", BalooBhaijaan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

    .head{
        color: #CD7E50 ;
        margin-bottom: 10px;
    }
    .text{
        font-weight: lighter;
    }
    .abouttext{
        margin-left: 15px;
    }
}

.service{
    font-family: "baloo", BalooBhaijaan;
    background-color:rgb(0, 62, 84) ;
    color: white;
    // height: 0vh;
    padding-top: 25px;
    padding-bottom: 25px;
  
    
    
    .to{  padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 40px;

    }
.carousel-inner { padding-left: 40px;
    padding-right: 30px;
    

}
   
    .cards-wrapper{
        display: flex;

    }
  
    .line3{
        color: rgba(247, 119, 0, 0.87) ;
    }
        h5{
        color:  rgba(247, 119, 0, 0.87);
        margin-top: 20px;
    }
    .card{
        background-color: #123E52;
        margin-bottom: 50px;
       
    }
    .jordan{
    
  padding-top: 70px;
      padding-left: 7px;
      padding-bottom: 30px;
     }
    
    }

    
.blank{
    font-family: "baloo", BalooBhaijaan;
    display: flex;
    justify-content: center;
    align-items: center;

   .dancingtag{
    margin: 70px;
   }
    .dancing{
        margin: 70px;
    }

    .btn{
        background-color:  rgb(17, 17, 65);
        color: white;
        margin-top: 20px;
        padding: 12px 40px
    }

    .letsdance{
        color: #CD7E50;
        align-items: center;
        justify-content: center;
        display: flex;
      
    }
}    

.contact{
    font-family: "baloo", BalooBhaijaan;
    background-color: rgb(243, 244, 246);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
border-style: none;

    .car{ padding-right: 100px;

    }

    .car-img-bottom{
        background-color: rgb(197, 197, 186);
       
    }

    .cf{ margin-left: 80px;

    }

.form-control{
    border-style: none;
}

    p{
        font-size: 16px;

    }
    img{
        height: 100vh;
        width: 100%;
  
    }
 
    .form{

 margin-left: 60px;
 margin-right: 60px;
 background-color: rgb(243, 244, 246);
        
input.form control{ text-decoration: none;
color: rgb(128, 151, 160);

}

    }
    .button{
        margin-left: 60px;
        margin-right: 55px;
        margin-top: 15px;
        background-color: #0A3140;
        padding: 10px;
        text-decoration: none;
        width: 500px ;

    }
    .btn{
        text-decoration: none;
        color: white;
    }
    h2{
        color: #CD7E50;
    }
    .message{
    margin-top: 10px;
        border-style: none;
        border-radius: 8px;
        width: 500px;
    }

    .form-control{
        color: rgb(128, 151, 160);
        padding: 15px;
        width: 500px;
        
    }
    .tag{
        margin-top: 20px;
        
    }
}

.footer{ background-image: url(/pic/Group\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 120px;

    .adi{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        margin:4px;
        margin-top: 20px;
        color: white;
    }
    .ftext{
        margin-bottom: 65px;
        margin-right: 140px;
    }
    .fhead{
        padding-top: 80px;
        color: white;
        margin-right: 80px;


        h2{ text-align: center;
            justify-content: center;
            align-items: center;

        }
    }
    .location{
        height: 3vh;
        margin-bottom: 60px;
        margin-right: 10px;
    }

    .phone{
      margin-left: 60px;
      margin-bottom: 65px;
    }
}

 .afooter{
    display: flex;
    justify-content: center;
    align-items: center;
   padding-top: 22px;
    // padding-bottom: 20px;
    
}
.line2{ color: #CD7E50;

}
p3{ width: 230px;

}

// mobile phone 

@media only screen and (min-device-width: 300px) and
 (max-device-width: 575px)

   {  
     
 .logo img { max-width: 100px;
}
.carousel-dark .carousel-indicators [data-bs-target] { 
    display: none;
}
    .banner .words {
         font-size: 8px;
      
        display: flex;
    }
    .about .abouttext {
        margin-left: -38px;
    }
    .banner .rec {
        display: none;
    }
    .banner .link {
 
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-evenly;
       
    }
    .banner .hdtext {
       
        font-size: 15px;
    }
    .banner .main {
      
        font-size: 23px;
       
    }
    .about img {
        display: none;
    }
   

    .banner .line2 {
       
        width: 30px;
   
    }
    .banner .vb{
       
        font-size: 18px;
    }
    .banner .line {
        display: flex;
        font-size: 8px;
    }
    .banner .pics { display: inline;
        width: 100%;
        height: auto;
        
    } 
   
    .banner .laptop {
      
        display: none;
    }
    .banner .rec2 {
        display: none;
    }
    .banner .munhu {
       
        display: none;
    }
    .banner .jep {
      
        display: none;
    }
    p.text {
        margin-left: 20px;
        margin-right: 30px;
    }
    
    .about img{ max-width: 100px;
        // margin-left: 130px;
        margin-bottom: 20px;
    }
    .about .head {
        margin-bottom: 30px;
    }
    .about h2 {
        // margin-left: 20px;
        font-size: 20px;
        text-align: center;
    }
    .about .text {
        font-size: 12px;
        margin-bottom: 40px;
        text-align: center;
    }
    blank { 
        font-size: 10px;
        margin-left: 30px;
        
    }
    .blank a { 
        padding: 7px 14px;
 
    }

    .blank h2 { 
        font-size: 15px;
 
    }
    .blank img { 
       max-width: 160px;
       justify-content: center;
    }
    .contact .car {
        display: none;
    }
    .contact .form-control {
        padding: 10px;
        width: 250px;
    }
    .contact .message {
        width: 250px;
    }
   .menu{ display: none;

   }
    .contact .button {
        padding: 3px;
        width: 250px;
    }
    
    .pics img {
        vertical-align: middle;
        margin-left: 37px;
        }
    .blank { display: inline;
       
    }
    .blank .btn {
        padding: 5px 10px;
    }
    .footer .adi { display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        font-size: 20px;
        // margin-left: 80px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
       .container{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    }
    .footer .fhead {
        padding-top: 40px;
        margin-right: 30px;
        // margin-left: 80px;
        
    }
    .footer .adi {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        // margin-left: 80px;
    }
   
    .footer .phone {margin-bottom: 59px;
        
    }
    .footer .location {
        margin-bottom: 60px;
        margin-left: 0px;
    }
    .footer .ftext {
        margin-bottom: 60px;
        margin-right: 10px;
        font-size: 13px;
    }
    .contact p {
        font-size: 16px;
        margin-right: 19px;
    }
   
    
    .menu {
        display: none; /* Hide menu by default */
        justify-content: flex-end; /* Aligns items to the right */
    }
    
    .banner .para1 {
        margin: 6px;
        margin-top: revert 
   
    }
    .hamburger-menu { 

        margin-bottom: 20px;
        margin-left: 5px;
    }
    .banner .mg {
        display: none;
    }
    .contact p {
        font-size: 16px;
        /* margin-right: 19px; */
        margin-left: 10px;
    }
    .blank img {
        max-width: 100%;
        margin-left: revert-layer;
    }
p.text {

    font-size: 14px;
}

img, svg {
    vertical-align: middle;
    margin-left: 16px;
}

.card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    margin-left: 0px;
}
.service .carousel-inner {
    padding-left: 30px;
    padding-right: 30px;
}
.card-text:last-child {
    margin-left: 20px;
    margin-top: 20px;
}
hr {
    display: none;
}
.afooter img{ width: 125px; ;

}
.footer {
    padding-top: 13px;
    padding-bottom: 13px;
}
.afooter {
    height: 10vh;
    margin-bottom: 0px;
}
.footer .fhead {
    font-size: 20px;
}
p {
    font-size: 15px;
}
.banner .line2 {
    margin-top: 26px;
}
.service .to {
    padding-top: 35px;
    padding-bottom: 35px;
}
.contact .form {
    // 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   
}
.service h5 {display: flex;
    justify-content: center;
} 

.bulb{ display: none;

}


}

//  Tablets


@media only screen and (min-device-width: 768px) and
 (max-device-width: 1024px)

   {  
    .banner .main {
       
        font-size: 50px;

    }

   .logo.img{  width: 300px;

   }
   .banner .words {
    font-size: large;
   }
    
   img, svg {
    vertical-align: middle;
    width: 220px;
}

.contact .form-control {
    width: 300px;
   
}
.contact .message {
    width: 300px;
    padding-left: 16px
}

.contact img {
    height: 55vh;
    width: 100%;
    object-fit: cover;

}
.contact .button {
    margin-left: 20px;
    width: 228px;

       
}



.contact .form {
    margin-left: 20px;
  
}
.blank .letsdance {
    font-size: 17px;
    padding-top: 20px;
}
.afooter {
    height: 15vh;
    margin-bottom: 0px;
}
.blank .btn {
    padding: 8px 1px;
}

.blank .img {
    vertical-align: middle;
    width: 300px;
}
.footer .phone {
    width: 30px;
}
.footer .location {
    width: 30px;
}

.banner .rec2 {
    opacity: 15%;
    display: none;

}
.pictures.img {
    vertical-align: middle;
    width: 226px;

}

.banner .munhu {
    margin-top: 70px;
    display: none;
}
.banner .munhu {
    display: none;
}
.banner .rec {
    height: 5vh;
}
.bulb {

    display: none;
}

.banner .jep {
    height: 7vh;
    display: none;
}
.footer {
    padding-bottom: 60px;
}
.footer .fhead {

    margin-left: 50px;
}
.footer .adi {
    margin-left: 50px;
}
.about .img {
   
    width: 229px;   
}
.service {
     font-size: 15px;
    padding-top: 0px;

   }

.menu{ display: none;


}
 .vb{ font-size: 35px;

}
.footer {
   
    background-size: unset
}
.banner .mg {
    height: 26vh;
}
.banner .laptop {   
  margin-top: 10px;
    height: 26vh;
    object-fit: cover;
    
}
.card-text:last-child {
    margin-bottom: 0;
    font-size: 13px;
}
.blank img {
    vertical-align: middle;
    height: 25vh;
    object-fit: cover;
    
}
.footer .phone {
    width: 50px;
}
.footer .location {
    width: 50px;
}

}
    // medium tablets

   @media only screen and (min-device-width: 825px) and
   (max-device-width: 1024px) {
    .banner .mg {
        width: 350px;
    }

    .contact img {
        height: 35vh;
        width: 100%;
    }
    .banner .mg {
        width: 330px;
    }
    .banner .laptop {
    margin-top: 10px;
    height: 26vh;
    width: 340px;
    object-fit: cover;
}
.blank img {
    vertical-align: middle;
    height: 25vh;
    object-fit: cover;
    width: 400px;

}
.blank .letsdance {
    font-size: 21px
   } 
   .footer {
    background-size: contain;
}
.about {
 
    margin-bottom: 40px
}
       }
           // big tablets

   @media only screen and (min-device-width: 1026px) and
   (max-device-width: 1440px)  
    {
        .topnav { display: none;
        }

    }

    @media only screen and (min-device-width: 1024px) { 
        .contact .message {
            margin-right: 70px;
        }
    }
   
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
 